<ActionBar class="action-bar">
    <Label text="Recettes" class="actionBarLabel"></Label>
</ActionBar>

<GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="recipes" marginRight="-2">
        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical"
            itemHeight="200" spanCount="1">
        </ListViewGridLayout>
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout backgroundColor="White">
                <GridLayout>
                    <Image src="https://placem.at/places?random=1&w=500&txt=0" stretch="aspectFill"
                        height="180"></Image>
                    <!-- <FrescoDrawee horizontalAlignment="stretch" height="180"
                        imageUri="{{ item.imageSrc }}"></FrescoDrawee> -->
                    <GridLayout verticalAlignment="bottom">
                        <StackLayout paddingTop="8" paddingBottom="8"
                            paddingLeft="16" paddingRight="16">
                            <Label text="{{ item.title }}" class="locationCity"></Label>
                            <Label text="{{ item.prepTime }} / {{ item.servings }} personnes" class="locationCountry"></Label>
                        </StackLayout>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </ng-template>
    </RadListView>
</GridLayout>