<ActionBar class="action-bar">
    <Label text="Recettes" class="actionBarLabel"></Label>
</ActionBar>
<ScrollView>
    <StackLayout>
        <ListView height="200" [items]="recipesFiltered">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <DockLayout class="recipe-list-item" [style.backgroundImage]="baseUrl + 'img/' + item.img"
                [nsRouterLink]="['/home/recipe/' + i]" pageTransition="slide">
                    <Label dock="top" text="{{ item.title }}" class="recipe-title" ></Label>
                    <Label dock="bottom" text="{{ item.prepTime }} / {{ item.servings }} personnes" class="recipe-info"></Label>
                </DockLayout>
            </ng-template>
        </ListView>
    </StackLayout>
</ScrollView>